docker/n8n-local-files/workflows/wf1_devhub_health_check.json
{
  "name": "WF-1: DevHub Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 18 * * *"
            }
          ]
        }
      },
      "id": "da7c9d2e-7d72-4875-bb06-9fe8c649a691",
      "name": "Daily 18:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://dev-os-api:8001/health/run",
        "options": {
          "timeout": 300000
        }
      },
      "id": "b63d2206-ccd4-4aa6-a302-5b175782c102",
      "name": "Run Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse health check response en format voor GitHub Issue\nconst data = $input.first().json;\nconst { severity, checks, timestamp } = data;\n\nconst lines = [\n  `## DevHub Health Check — ${timestamp}`,\n  '',\n  `**Severity: ${severity}**`,\n  '',\n  '| Check | Status | Details |',\n  '|-------|--------|---------|',\n];\n\nconst testStatus = checks.pytest.exit_code === 0 ? 'PASS' : 'FAIL';\nlines.push(`| Tests | ${testStatus} | ${checks.pytest.summary} |`);\n\nconst ruffStatus = checks.ruff.error_count === 0 ? 'PASS' : 'FAIL';\nlines.push(`| Lint (ruff) | ${ruffStatus} | ${checks.ruff.error_count} errors |`);\n\nconst auditStatus = checks.pip_audit.cve_count === 0 ? 'PASS' : 'FAIL';\nlines.push(`| Security (pip-audit) | ${auditStatus} | ${checks.pip_audit.cve_count} vulnerabilities |`);\n\nconst outdatedStatus = checks.outdated.count <= 5 ? 'OK' : 'WARN';\nlines.push(`| Outdated deps | ${outdatedStatus} | ${checks.outdated.count} packages |`);\n\nlines.push('', '---', '_Automated by n8n WF-1: DevHub Health Check_');\n\nconst priority = severity === 'RED' ? 'P1' : 'P2';\nconst issueTitle = `[HEALTH ${severity}] DevHub Health Check — ${timestamp.split('T')[0]}`;\n\nreturn [{\n  json: {\n    severity,\n    priority,\n    issueTitle,\n    issueBody: lines.join('\\n'),\n    timestamp,\n    checks\n  }\n}];"
      },
      "id": "1c3c2557-42b5-4912-ad6d-d8ef523ca71f",
      "name": "Parse & Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "GREEN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GREEN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "YELLOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YELLOW"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "RED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RED"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "90d8b985-687a-4bcf-ac65-af0363229ae0",
      "name": "Severity Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "ALS-DAN",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "alsdan-devhub",
          "mode": "name"
        },
        "title": "={{ $('Parse & Format Results').item.json.issueTitle }}",
        "body": "={{ $('Parse & Format Results').item.json.issueBody }}",
        "labels": [
          { "label": "health-alert" },
          { "label": "={{ $('Parse & Format Results').item.json.priority }}" }
        ]
      },
      "id": "7504324d-9ff3-47c3-8b6c-e8b90a1d8d67",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [1100, 300],
      "credentials": {}

    }
  ],
  "connections": {
    "Daily 18:00": {
      "main": [
        [
          {
            "node": "Run Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Health Check": {
      "main": [
        [
          {
            "node": "Parse & Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Format Results": {
      "main": [
        [
          {
            "node": "Severity Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Router": {
      "main": [
        [],
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Amsterdam"
  },
  "tags": [
    {
      "name": "health-check"
    },
    {
      "name": "automated"
    }
  ]
}
